.kyouore-description {
	margin: 1em 0;
	font-size: 14px;
	text-align: center;
}

#kyouore-button-container {
	max-width: 960px;
	position: relative;
	z-index: 10;
	margin: 30px auto 80px;
}

.kyouore-tab {
	font-size: 16px;
}

/* tab list */
.kyouore-tab-list {
	margin: 30px 0;
	display: table;
	width: 100%;
	table-layout: fixed;
}
.kyouore-tab-item {
	display: table-cell;
	vertical-align: bottom;
	padding: 0 0 0 .5em;
	border-bottom: 2px solid #999;
}
.kyouore-tab-item:first-child {
	display: table-cell;
	padding: 0;
}
.kyouore-tab-item button {
	display: block;
	width: 100%;
	border: 2px solid #999;
	border-bottom: 0;
	background-color: #FFFFFF;
	text-align: center;
	cursor: pointer;
}
.kyouore-tab-item.is-active {
	border-color: #066;
}
.kyouore-tab-item.is-active button {
	background-color: #066;
	border-color: #066;
	color: #fff;
}

/* panel */
.kyouore-tab-panel.is-hidden {
	display: none;
}
.kyouore-tab-panel.is-active {
	display: block;
}
.kyouore-tab-panel > h2 {
	font-size: 24px;
	border-bottom: 2px solid #999;
	padding-bottom: .5em;
	margin-bottom: .5em;
}
.kyouore-tab-panel li {
	display: inline-block;
}
.kyouore-tab-panel button {
	position: relative;
	cursor: pointer;
	font-size: 16px;
	border-radius: 4px;
	background-color: #066;
	color: #fff;
	box-shadow: 0 4px 0 0 #033;
	border: none;
	margin-bottom: 0.5em;
	padding: .25em .5em;
	line-height: 1.4;
}
.kyouore-tab-panel button:active {
	top: 4px;
	box-shadow: none;
}

/* hide form */
#kyouore-copyform {
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}